<html>
<head>
<title>文書のタイトル</title>
</head>
<body>
<h1>Passbooks#Main</h1>
<strong><%= "残高:#{@amount}BTC" %></strong>
</br>
<strong><%= "アドレス:2NEXwkPd1vKibmcwxKixvGX8zgP9V78hE7b" %></strong>
<%= button_to "送金する", {controller: 'passbooks', action: 'sendbit'}, {method: :get} %>
<hr>
<table>
  <tr>
    <td width=47.6%>
      <hr color="#778899" size=5px>
    </td>
    <td><h3>取引履歴</h3></td>
    <td width=47%>
      <hr color="#778899" size=5px>
    </td>
  </tr>
</table>
<% @balance.reverse_each do |b| %>
&nbsp
<table border="1" class="table1" style="border-collapse:collapse;">
 <thead style="background-color:#ccc;">
  <tr>
   <th>データ</th>
   <th>内容</th>
  </tr>
 </thead>
 <tbody>
   <tr>
    <td>取引時間</td>
    <td><%= b["time"] %></td>
   </tr>
   <tr>
    <td>トランザクション</td>
    <td><%= b["category"] %></td>
   </tr>
  <tr>
   <td>トランザクションID</td>
   <td><%= b["txid"] %></td>
  </tr>
  <tr>
   <td>アドレス</td>
   <td><%= b["address"] %></td>
  </tr>
  <tr>
   <td>総額(BTC)</td>
   <td><%= b["amount"] %>&nbsp BTC </td>
  </tr>
 </tbody>
 <tfoot>
 </tfoot>
</table>
<% end %>

</body>
</html>
