<html>
<head>
<title>文書のタイトル</title>
</head>
<body>
  <h1>Passbooks#SendBit</h1>
  <hr>
  <%= form_tag("/transfer", method: "get") do %>
  <%= text_field_tag(:addr,'',placeholder: '送信先アドレス') %>
  <%= text_field_tag(:amout,'',placeholder: '金額') %>
  <%= submit_tag "送金",:data => { :confirm => '本当に送信しますか?' } %>
  <% end %>
  <%= button_to "戻る", {controller: 'passbooks', action: 'index'}, {method: :get} %>
</body>
</html>
